.section__about__us {
  background-color: lightgrey;
  height: 820px;
  border: 2px solid transparent;
  text-align: center;
  align-items: center;
}
.line__about__us {
  text-align: center;
  width: 15%;
  border: 2px solid rgb(236, 166, 73);
  color: rgb(236, 166, 73);
  border-radius: 10px;
}
.title__about__us {
  color: rgb(236, 166, 73);
  letter-spacing: 12px;
  font-size: 27px;
}
.div__about__us {
  border: 2px solid transparent;
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  display: inline-flex;
}
.text__about__us {
  border: 2px solid transparent;
  width: 50%;
  text-align: justify;
  word-spacing: 5px;
  color: rgb(68, 67, 67);
}
.img__about__us {
  border: 2px solid transparent;
  margin-bottom: auto;
  width: 45%;
  height: 85%;
  margin-left: auto;
  content: url(/img/Pani.png);
}
.to__download {
  border: 2px solid rgb(197, 197, 197);
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  height: 264px;
  display: inline-flex;
  background-image: linear-gradient(to bottom left, white, rgb(197, 197, 197));
  background-color: white;
}
.img__to__download {
  border: 2px solid transparent;
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
  height: 90%;
  content: url(/img/Ksiazki.jpg);
}
.text__to__download {
  border: 2px solid transparent;
  width: 60%;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  padding-left: 8px;
  padding-top: 10px;
  font-size: 27px;
  color: rgb(68, 67, 67);
}
.title__to__download {
  color: rgb(236, 166, 73);
  font-size: 27px;
}
.text__to__download {
  font-size: 20px;
}
.link__to__download {
  padding-left: 0px;
  margin-top: 15px;
  text-decoration: none;
  text-decoration: none;
  display: inline-flex;
  color: grey;
  font-size: 27px;
  transition: 1.5s;
}
