body {
  font-family: Arial;
  font-size: 1rem;
}
.header {
  margin-left: 150px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: white;
}
.navigation {
  padding-left: 50%;
  font-size: 1.2em;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  display: inline-flex;
  color: grey;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 30px;
  transition: 1.5s;
}
a:hover {
  color: rgb(236, 166, 73);
  transition: 1.5s;
}
.Logo {
  width: 50px;
  height: 50px;
  padding-top: 25px;
}
.navigation__item {
  display: inline-flex;
  align-items: center;
}
.navigation__item::after {
  content: "";
  display: inline-flex;
  border-right: 1px solid rgb(153, 145, 145);
  transform: skew(-20deg);
  height: 45px;
  margin-top: 20px;
  align-items: center;
  padding-right: 8px;
}
.no-border {
  display: inline-flex;
  border: none;
}
.section__introduction {
  background-color: lightgray;
  height: 400px;
  width: 100%;

  display: flex;
}
.div__introduction {
  width: 30%;
  height: 50px;
  padding: 30px 10px 10px 15px;
  padding-top: 60px;
}
.title__introduction {
  color: rgb(236, 166, 73);
  font-weight: 300;
  font-size: 25px;
}
.img__introduction {
  display: inline-flex;
  width: 100%;
  content: url(/img/schody1.png);
}
.section__home {
  background-color: white;
  width: 100%;
  height: 700px;
  display: flex;
}
.cookies {
  border: 1px solid rgb(236, 166, 73);
  height: 100px;
  width: 200px;
  margin-top: 150px;
  margin-left: 10px;
  padding-top: 5px;
}
.link__cookies {
  text-decoration: none;
  padding-left: 0px;
  margin-top: 0px;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  color: grey;
  transition: 1.5s;
}
.img__home {
  width: 30%;
  height: 450px;
  margin-top: 4.9%;
  margin-left: 17.5%;
  content: url(/img/Pokoj.jpg);
  display: flex;
}
.div__home {
  border: 2px solid rgb(236, 166, 73);
  color: rgb(236, 166, 73);
  width: 35%;
  height: 390px;
  margin-top: 190px;
  padding-top: 50px;
  right: 30px;
  position: relative;
}
.title__home {
  color: rgb(236, 166, 73);
  font-weight: 300;
  font-size: 25px;
  padding-left: 35px;
}
.line__home {
  height: 2px;
  color: rgb(236, 166, 73);
  border: rgb(236, 166, 73);
  background-color: rgb(236, 166, 73);
  border-radius: 16px;
  width: 25%;
  margin-left: 35px;
}
.text__home {
  padding-left: 35px;
}
.footer {
  border: 2px solid transparent;
  margin-top: 100px;
  height: 320px;
  display: flex;
  border: 2px solid transparent;
  margin-top: 25px;
  display: block;
  align-items: center;
}

.div__contact {
  border: 2px solid transparent;
  height: 40%;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  color: rgb(236, 166, 73);
  font-size: 25px;
  background-color: lightgray;
}
.number__contact {
  text-decoration: none;
  text-decoration: none;
  display: inline-flex;
  color: grey;
  transition: 1.5s;
}
.number__contact:hover {
  color: rgb(236, 166, 73);
  font-size: 25px;
}
.media__contact {
  border: 2px solid transparent;
  padding-top: 55px;
  display: flex;
  margin-left: 46%;
}
.facebook__contact {
  content: url(/img/facebook.png);
}
.instagram__contact {
  content: url(/img/instagram.png);
  padding-left: 20px;
}
.youtube__contact {
  content: url(/img/youtube.png);
  padding-left: 20px;
}

.navigation__footer {
  border: 2px solid transparent;
  margin-left: 32.5%;
  text-align: center;
  align-items: center;
  font-size: medium;
  display: flex;
  padding-top: 40px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: gray;
}
.visits__footer {
  margin-top: 8px;
  border: 2px solid transparent;
  height: 100px;
  display: block;
  text-align: center;
  padding-top: 15px;
  background-color: lightgray;
  color: rgb(236, 166, 73);
  word-spacing: 30px;
  font-size: 25px;
}
.items__list {
  word-spacing: 0px;
  display: inline-flex;
}
.items__footer::after {
  content: "";
  display: inline-flex;
  border-right: 1px solid rgb(153, 145, 145);
  height: 30px;
  align-items: center;
  padding-left: 8px;
  margin-right: 8px;
}
.links__footer {
  display: inline-flex;
  color: gray;
}
.items__footer__no-border {
  margin-top: 2px;
}
